#version=RHEL9
text
repo --name="AppStream" --baseurl=https://linux-mirrors.fnal.gov/linux/centos-stream/9-stream/AppStream/x86_64/os

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

keyboard --xlayouts='us'
lang en_US.UTF-8

network --bootproto=dhcp --device=link --noipv6 --activate
network --hostname=rescue

url --url="https://linux-mirrors.fnal.gov/linux/centos-stream/9-stream/BaseOS/x86_64/os/"

%packages
@^server-product-environment
@console-internet
@debugging
@development
@dotnet
@hardware-monitoring
@headless-management
@network-file-system-client
@performance
@scientific
@security-tools
@system-tools
bash
vim
lvm2
rsync
btrfs-progs
e2fsprogs
gparted
parted
gdisk
wget
curl
iputils
iproute
neovim
%end

firstboot --disable
ignoredisk --only-use=sda
autopart
clearpart --none --initlabel
timezone America/Chicago --utc

rootpw --lock
user --groups=wheel --name=rescuer --gecos="Rescue Tech"
